<nav role="navigation" aria-label="Menu principal" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">IUTContact</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('contact_index') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact_index') }}">Contacts</a>
        </li>
      </ul>
    </div>
</nav>

<style>
  .navbar {
    overflow: hidden;
    width: 100%;
  }
</style>