{% extends 'base.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}

{% block body %}
    <h1>Edition de l'entreprise</h1>

    {{ include('entreprise/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
{% endblock %}
