{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="display-4 mt-5 mb-5" style="text-align: center;"> Créer une nouvelle entreprise </h1>

    <div id="test">
        {{ include('entreprise/_form.html.twig') }}
    </div>

{% endblock %}
