{% extends 'base.html.twig' %}


{% block body %}
    <div class="card border-primary col-md-6 offset-md-3">
        <div class="card-header" style="text-align: center; font-size: large;">Créer une nouvelle entreprise</div>
        <div class="card-body">
            {{ include('entreprise/_form.html.twig') }}
        </div>
      </div>
    

{% endblock %}
