<!-- Footer -->
<footer role="contentinfo" class="text-center text-black" style="background-color: #e95420!important;">
    <!-- Grid container -->
    <div class="container p-2">
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 offset-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contacts</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="{{ path('contact_index') }}" class="text-white">Tous les contacts</a>
              </li>
              <li>
                <a href="{{ path('contact_new') }}" class="text-white">Créer un contact</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Entreprises</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="{{ path('entreprise_new') }}" class="text-white">Créer une entreprise</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 IUT Claude Bernard Lyon 1 Copyright
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->