{% extends 'base.html.twig' %}

{% block title %}Ajouter une promotion{% endblock %}

{% block body %}
<h1 class="display-4 mt-5 mb-5" style="text-align: center;"> Créer une nouvelle promotion </h1>

    {{ include('promotion/_form.html.twig') }}

    <style>
        .required:after { 
            content:"*";
            color: red; 
        }
    </style>

{% endblock %}
