{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <h1>Edition de {{ contact.name }}</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Enregister les modifications'}) }}

{% endblock %}
