{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <div class="card border-primary col-md-6 offset-md-3">
        <div class="card-header" style="text-align: center; font-size: large;">Modifier le contact <i> {{contact.prenom}} {{contact.nom}}</i></div>
            <div class="card-body">
                {{ include('contact/_form.html.twig', {'button_label': 'Enregister les modifications'}) }}
            </div>
    </div>
{% endblock %}
