{% extends 'base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% block body %}
    <h1>Ajouter un contact</h1>

    {{ include('contact/_form.html.twig') }}
    
    
    <style>
        .required:after { 
            content:"*";
            color: red; 
        }
    </style>

{% endblock %}
