<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" >
        {% block stylesheets %}
          <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include('header/navbar.html.twig') %}
        <div id="wrapper" style="margin: 5% 0 5% 0;">
          {% block body %}{% endblock %}
        </div>
        {% include('footer/footer.html.twig') %}
    </body>
</html>
