{% extends 'base.html.twig' %}

{% block body %}
    <div id="contactForm">  
        <form method="post">
            <div>
                <label for="msg">Message :</label>
                <textarea id="msg" name="message"></textarea>
            </div>
            <button class="btn btn-primary mt-3">{{ button_label|default('Envoyer') }}</button>
        </form>

    </div>
    <div>
        <a href="email"> retour a la liste d'email</a> 
    </div>
{% endblock %}